<div class="jumbotron text-center">
  <div class="overlay"></div>
  <div class="background-image"></div>
  <div class="caption">
    <h1>PC Perspective Scraper</h1>
    <h4>Click "Scrape New Articles" to get the latest from <a href="https://pcper.com">pcper.com</a></h4>
  </div>
</div>

<div class="container-fluid article-container" id="article-body">
  {{#if article}}
  {{#each article}}
  <div class="card">
    <img class="card-img-top" src="{{this.image}}" alt="Card image">
    <div class="card-body">
      <a href={{this.url}} target="_blank">
        <h5 class="card-title">{{this.headline}}</h5>
      </a>
      <p class="card-text">{{this.summary}}</p>
      <button class="btn btn-primary save-article" data-id={{this._id}}>Save Article</button>
    </div>
  </div>
  {{/each}}
  {{else}}
  <div class="card">
    <div class="card-body">
      <h4>No new articles found!</h4>
    </div>
  </div>
  {{/if}}
</div>